.section {
  display: flex;
  background-color: #fff;
  margin: 25px;
  box-shadow: rgba(0, 0, 0, 0.37) 0 0 5px 2px;
}

.divs {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.li-style {
  width: 4.875rem;
  height: 1.125rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.ul {
  display: flex;
  color: blue;
  list-style: none;
}

.div-R {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: baseline;
  margin-left: 90px;
}

.current {
  color: var(--black-two);
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
}
